<h1>Designer Dashboard</h1>

<form id="form" action="/designer_dashboard" method="POST">
  <input type="text" name="surveyName" id="surveyName-id" placeholder="introduce your survey">
  <br>
  <button id="create-survey">
    <small>Create Survey</small>
  </button>
  <br>
  <input type="text" name="question" id="question-id" placeholder="introduce your question">
  <br>
  <select multiple name="users_select" id="user_selectID">
    {{#each users}}
    <option value="{{this.id}}">
      {{this.username}}
    </option>
    {{/each}}
  </select>

</form>

{{#each surveys}}
  <li>{{this.title}}</li>
{{/each}}

{{!-- esto lleva a los resultados de charts --}}
 {{#each surveys}}
  <h3><a href="surveys/{{this._id}}">{{this.title}}</a></h3>
{{/each}}